body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--clr-black);
  font-family: var(--ff-main);
}
body::before {
  pointer-events: none;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background: url("../asset/bruit.png");
  opacity: 25%;
  background-repeat: repeat;
  background-size: 200px;
  z-index: 999;
  animation: mouvement-grain 0.4s infinite steps(10);
}
body::selection{
  background-color: rgb(141, 21, 21);
}

@keyframes mouvement-grain {
  0% { background-position: 0 0; }
  10% { background-position: -5% -10%; }
  20% { background-position: -15% 5%; }
  30% { background-position: 10% -20%; }
  40% { background-position: -5% 15%; }
  50% { background-position: -15% 10%; }
  60% { background-position: 15% 0; }
  70% { background-position: 0 15%; }
  80% { background-position: 10% 20%; }
  90% { background-position: -10% 5%; }
  100% { background-position: 0 0; }
}

.cursorFollower {
  display: none;
  background-color: var(--clr-white);
  position: fixed;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
  @media (hover: hover) and (pointer: fine){
    display: block;
  }
}