:root {
  --clr-light: #f0f4e3;
  --clr-dark: #2a2a2a;

  --clr-main: var(--clr-dark);
  --clr-sec: var(--clr-light);
}

body:has(#themeToggle:checked) {
  --clr-main: var(--clr-light);
  --clr-sec: var(--clr-dark);
}

body {
  margin: 0;
  color: var(--clr-main);
  transition: color 0.8s ease-in-out;
  overflow: hidden;
}

.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bg-light {
  background-color: var(--clr-light);
  z-index: -1;
  clip-path: circle(150% at 100% 0%);
  transition: clip-path 0.8s ease-in-out;
}

.bg-dark {
  background-color: var(--clr-dark);
  z-index: -2;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0s 0.8s; 
}

body:has(#themeToggle:checked) .bg-dark {
  z-index: -1;
  clip-path: circle(150% at 100% 0%);
  transition: clip-path 0.8s ease-in-out;
}

body:has(#themeToggle:checked) .bg-light {
  z-index: -2;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0s 0.8s;
}

.hidden-checkbox {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: serif;
  font-size: 3rem;
}

.toggle-button {
  margin-top: 2rem;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--clr-main);
  color: var(--clr-sec);
  border-radius: 5px;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
  user-select: none;
}